Source: com.github.artemanufrij.graphui
Section: x11
Priority: optional
Maintainer: Artem Anufrij <artem.anufrij@live.de>
Build-Depends: cmake (>= 2.8),
               cmake-elementary,
               debhelper (>= 9),
               libgranite-dev,
               libgtksourceview-3.0-dev,
               valac (>= 0.26)
Standards-Version: 3.9.3

Package: com.github.artemanufrij.graphui
Architecture: any
Depends: graphviz, ${misc:Depends}, ${shlibs:Depends}
Description: Graph Visualization
 Graph visualization based on graphviz, written especially for elementary OS
